<div class="jumbotron">
  <h1>How goes it, Mate?!</h1>
  <p>Welcome to <i class="fa fa-moon-o"></i>Bullhorn! This is my bootleg Twitter! Have a look around.</p>
<% link_to "Sign Up", "#", class: "btn btn-primary btn-lg" %>
</div>